<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./js/home/twitter.js"></script>
  <title>Document</title>
  <style>
    * {
      color: white;
      margin: 0;
      border: 0;
      padding: 0;
    }
    body{
      background-color: black;
      text-align: center;
    }
    .color-blue {
      color: rgb(0, 149, 255);
    }
    .background-color-blue {
      background-color: rgb(0, 149, 255);
    }
  </style>
</head>
<body>
<div style="display:inline-block;width:1200px;height:auto;">
  <div style="display:grid;grid-template-columns:1fr 8fr 3fr;">
    <div>
      <div style="width:80px;height:80px;background-color:gray;margin:10px;border-radius:10px;">Logo</div>
      <div style="width:80px;height:80px;background-color:gray;margin:10px;border-radius:10px;">Logo</div>
      <div style="width:80px;height:80px;background-color:gray;margin:10px;border-radius:10px;">Logo</div>
      <div style="width:80px;height:80px;background-color:gray;margin:10px;border-radius:10px;">Logo</div>
      <div style="width:80px;height:80px;background-color:gray;margin:10px;border-radius:10px;">Logo</div>
      <div style="width:80px;height:80px;background-color:gray;margin:10px;border-radius:10px;">Logo</div>
      <div style="width:80px;height:80px;background-color:gray;margin:10px;border-radius:10px;">Logo</div>
      <div style="width:80px;height:80px;background-color:gray;margin:10px;border-radius:10px;">Logo</div>
      <div style="width:80px;height:80px;background-color:gray;margin:10px;border-radius:10px;">Logo</div>
      <div style="width:80px;height:80px;background-color:gray;margin:10px;border-radius:10px;">Logo</div>
    </div>
    <div style="border-left:1px solid gray;border-right:1px solid gray;">
      <div style="position:sticky;padding:21px;top:0;opacity:0.9;height:50px;background-color:black;">
        <div style="display:inline-block;float:left;font-size:28px;font-weight:bold;">Home</div>
        <div style="display:inline-block;float:right;">Glitter</div>
      </div>
      <div style="display:grid;grid-template-columns:120px 1fr;border-bottom:1px solid gray;">
        <div style="margin:20px;width:80px;height:80px;border-radius:40px;background-color:gray;">Profile Image</div>
        <div style="margin:20px">
          <div style="margin:20px 0;"><input type="text" placeholder="What's happening?" style="width:100%;background-color:black;font-size:40px;"></div>
          <div style="font-size:21px;margin:20px 0;">
            <div class="color-blue" style="float:left">Img | GIF | CHT | MOT | CAL | LOC</div>
            <div class="background-color-blue" style="float:right;font-weight:bold;padding:10px 20px;border-radius:30px;">Send</div>
          </div>
        </div>
      </div>
      <div style="display:grid;grid-template-columns:120px 1fr;border-bottom:1px solid gray;">
        <div style="margin:20px;width:80px;height:80px;border-radius:40px;background-color:gray;">Profile Image</div>
        <div style="margin:20px">
          <div style="text-align:left;">
            <div style="display:inline-block;">대충 그럴듯한 닉네임 <span>@justID</span></div>
            <div style="float:right">ㅇㅇㅇ</div>
          </div><br>
          <div style="text-align:left;">
            켘ㅋ케켘케ㅔ케케케<br>
            누루누ㅐㄴ우루나ㅣ우래ㅑㅜ재ㅏ무룾ㄴ<br>
            클론 코딩<br>
            <div style="vertical-align:middle;width:500px;height:500px;border-radius:5px;background-color:gray;font-weight:bold;">대충 이미지</div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div style="width:330px;height:40px;background-color:gray;margin:10px;border-radius:20px;">Serch</div>
    </div>
  </div>
</div>
</body>
</html>